---
import BaseContent from "./BaseContent.astro";
import Badge from "../Badge.astro";
import Chips from "../Chips.astro";
import { PROJECTS } from "@/config";
import Card from "../Card.astro";
import { Image } from "astro:assets";
import CardContent from "../CardContent.astro";
const imagePaths = import.meta.glob("/src/images/project/*.{jpeg,jpg,png,gif}");

const getImage = (path) => {
	const imagePath = imagePaths[path];
	if (!imagePath) {
		throw new Error(
			`"${path}" does not exist in glob: "/src/images/project/*.{jpeg,jpg,png,gif}"`
		);
	}
	return imagePath();
};
---

<BaseContent id="project" title="Project">
	<div class="grid grid-cols-3 gap-8">
		{
			PROJECTS.map(({ name, tags, url, desc, imageUrl }) => (
				<Card>
					<div class="relative aspect-video">
						<Image
							src={getImage(imageUrl.thumbnail)}
							alt=""
							class="w-full object-cover transition-transform hover:scale-105"
						/>
					</div>
					<CardContent>
						<h3 class="text-lg font-bold sm:text-xl dark:text-white">{name}</h3>
						<div class="mt-2 inline-flex flex-wrap gap-2">
							{tags.map((tag) => (
								<Badge>{tag}</Badge>
							))}
						</div>
						<p class="mt-4 max-w-sm overflow-hidden text-sm">{desc.short}</p>
						<div class="mt-4 inline-flex flex-wrap gap-2">
							<Chips name="github" icon="mdi:github" href={url} target="_blank" />
						</div>
					</CardContent>
				</Card>
			))
		}
	</div>
</BaseContent>
