---
import { Code } from "astro/components";
import Layout from "@/layouts/layout.astro";
import profile_pict from "@/assets/profile_pict.jpg";
import { Image } from "astro:assets";
import { ABOUT_ME, CERTIFICATES, EDUCATION } from "@/config";
import AboutContent from "@/components/about-content.astro";
import { buttonVariants } from "@/components/ui/button";
import Icon from "@/components/icon.astro";
import { cn } from "@/lib/utils";
---

<Layout>
	<div class="flex h-full flex-col gap-8 pb-28 pt-8 md:grid md:grid-cols-[60%_1fr] md:py-28">
		<div class="flex flex-col gap-2">
			<p class="font-mono text-xl font-medium">Hello all. I'm</p>
			<h1 class="text-6xl font-bold md:text-8xl">Ahmad nur</h1>
			<p class="pt-4 text-lg font-medium">
				{ABOUT_ME}
			</p>
		</div>
		<div class="flex h-full w-full items-center justify-center">
			<div class="group relative w-56 lg:w-64">
				<Image
					src={profile_pict}
					format="webp"
					quality={90}
					alt="Ahmad nur sahid"
					class="overflow-hidden rounded-xl shadow-sm shadow-gray-300"
				/>
			</div>
		</div>
	</div>
	<div class="relative flex flex-col gap-8 md:grid md:grid-cols-[1fr_60%_1fr] md:gap-10">
		<section>
			<h1 class="section__title">Education</h1>
			<div class="section__content">
				{
					EDUCATION.map(({ from, to, institute, course, location }) => (
						<AboutContent
							date={from + " - " + to}
							title={course}
							subtitle={location}
							description={institute}
						/>
					))
				}
			</div>
		</section>
		<section>
			<h1 class="section__title">Certificate</h1>
			<div class="section__content">
				{
					CERTIFICATES.map(({ issued, title, org, url, description }) => (
						<AboutContent
							date={issued}
							title={title}
							subtitle={org}
							description={description}
							className="lg:flex lg:justify-between lg:gap-x-4">
							<a
								href={url}
								class={cn(
									buttonVariants({ variant: "link" }),
									"h-fit gap-2 self-center whitespace-nowrap p-0 lg:min-w-min"
								)}
								target="_blank"
								type="application/pdf">
								View Certificate
								<Icon icon="link" size="16px" />
							</a>
						</AboutContent>
					))
				}
			</div>
		</section>
	</div>
</Layout>
<style>
	section {
		@apply md:contents;
	}
	.section__title {
		@apply mb-4 text-2xl font-bold md:col-start-1 md:mb-0;
	}
	.section__content {
		@apply flex flex-col gap-y-12 md:col-span-2;
	}
</style>
