---
import Layout from "../layouts/layout.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Navbar from "../components/Navbar.astro";
import Educations from "../components/Educations.astro";
import Skills from "../components/Skills.astro";
import Project from "../components/Project.astro";
import Footer from "../components/Footer.astro";
import { SITE } from "../config";
---

<Layout title="me" description={SITE.description}>
	<div
		class="fixed left-0 top-0 z-0 h-[134px] w-[134px] rounded-full bg-orange-500 opacity-50 blur-[150px] md:blur-[350px] lg:h-[300px] lg:w-[300px]">
	</div>
	<div
		class="fixed bottom-0 right-0 z-0 h-[134px] w-[134px] rounded-full bg-sky-500 opacity-50 blur-[150px] md:blur-[350px] lg:h-[300px] lg:w-[300px]">
	</div>
	<main id="top" class="space-y-4">
		<Header
			class="container max-w-5xl"
			author={SITE.author}
			position={SITE.position}
			mail={SITE.mail}
		/>
		<Navbar />
		<div class="lists container mt-4 max-w-5xl">
			<About author={SITE.author} description={SITE.description} />
			<Skills />
			<Educations />
			<Project />
		</div>
		<Footer class="container max-w-5xl py-16" mail={SITE.mail} />
	</main>
</Layout>
<style is:inline>
	.lists > :not([hidden]) ~ :not([hidden]) {
		padding-top: 5rem;
	}
</style>
