---
import Layout from "@/layouts/layout.astro";
import { PROJECTS } from "@/config";
import { Card, CardDescription, CardFooter, CardHeader, CardTitle } from "@/components/ui/card";
import { cn } from "@/lib/utils";
import { buttonVariants } from "@/components/ui/button";
import Icon from "@/components/icon.astro";
---

<Layout>
	<div class="space-y-10">
		<div class="pt-10">
			<h1 class="text-center text-5xl font-bold md:text-6xl lg:text-8xl">Project</h1>
		</div>
		<div
			class="flex flex-col gap-5 px-2 sm:grid sm:grid-cols-2 md:px-10 lg:grid-cols-3 lg:gap-10">
			{
				PROJECTS.map(({ name, date, description, tags, sourceUrl, articleUrl, demoUrl }) => (
					<Card>
						<CardHeader>
							<span class="font-mono text-xs">{date}</span>
							<CardTitle>{name}</CardTitle>
							<CardDescription>{description}</CardDescription>
						</CardHeader>
						<CardFooter className="flex flex-wrap gap-2">
							{articleUrl && (
								<a
									href={articleUrl}
									class={buttonVariants({ variant: "outline", size: "sm" })}>
									Article
								</a>
							)}

							{demoUrl && (
								<a
									href={demoUrl}
									class={buttonVariants({ variant: "outline", size: "sm" })}
									target="_blank">
									Demo
								</a>
							)}

							{sourceUrl && (
								<a
									href={sourceUrl}
									class={cn(buttonVariants({ variant: "outline", size: "sm" }), "gap-1")}
									target="_blank">
									Source
									<Icon icon="linkout" size="16" />
								</a>
							)}
						</CardFooter>
					</Card>
				))
			}
		</div>
	</div>
</Layout>
