---
import { Badge } from "./ui/badge";
interface Props {
	title: string;
	subtitle: string;
	description: string;
	date: string;
	className?: string;
}

const { title, subtitle, description, date, className } = Astro.props;
---

<div class={className}>
	<div class="text-base font-normal w-full">
		<Badge>{date}</Badge>
		<h1 class="font-lg font-bold">{title}</h1>
		<h3>{subtitle}</h3>
		<p class="text-sm font-light">{description}</p>
	</div>
	<slot />
</div>
