---
import { SITE_TITLE } from "../consts";
import Logo from "./Logo.astro";
import Icon from "astro-icon";

const navLink: { label: string; href: string }[] = [
   { label: "Home", href: "/" },
   { label: "About", href: "/me" },
   { label: "Project", href: "/project" },
];

const sosialLink: { label: string; icon: string; href: string }[] = [
   { label: "github", icon: "carbon:logo-github", href: "/" },
   { label: "github", icon: "carbon:logo-github", href: "/" },
   { label: "github", icon: "carbon:logo-github", href: "/" },
];
---

<nav
   id="navbar"
   class="absolute top-0 left-0 right-0 z-10 flex items-center w-full py-1 border-b border-gray-300 min-h-54 bg-secondary-100 md:py-3 bg-opacity-5 backdrop-blur-md border-opacity-10"
>
   <div class="container md:flex">
      <div class="flex justify-between w-full">
         <a class="flex items-center" href="/">
            <div class="h-54 flex items-center">
               <Logo />
            </div>
            <span class="ml-1 text-2xl font-bold text-white">{SITE_TITLE}</span>
         </a>
         <button
            type="button"
            id="burger"
            class="flex flex-col items-center justify-center h-54 w-54 md:hidden group"
         >
            {
               new Array(3)
                  .fill("")
                  .map(() => (
                     <span class="transition duration-300 ease-in-out w-4 h-[1px] block bg-gray-300 my-0.5 odd:-translate-x-1/2 group-[.active]:odd:translate-x-1/2 group-[.active]:odd:bg-primary" />
                  ))
            }
         </button>
      </div>
      <div id="navbar-items" class="m-auto max-md:hidden [&.active]:block">
         <div class="py-2 md:flex md:items-center">
            <ul class="mr-3 text-right md:flex">
               {
                  navLink.map(({ label, href }) => (
                     <li class="my-2 md:my-0">
                        <a
                           aria-current={Astro.url.pathname === href}
                           href={href}
                           class:list={[
                              "text-lg font-bold hover:text-primary md:mx-3 [.active]:text-primary text-gray-300",
                              {
                                 active:
                                    Astro.url.pathname === href ||
                                    (href !== "/" &&
                                       Astro.url.pathname.startsWith(href)),
                              },
                           ]}
                        >
                           {label}
                        </a>
                     </li>
                  ))
               }
            </ul>
            <div
               class="flex items-center border-t border-primary md:border-t-0 md:border-l md:pl-5"
            >
               {
                  sosialLink.map(({ label, icon, href }) => (
                     <a
                        href={href}
                        class="mt-2 ml-4 text-gray-300 hover:text-primary-100 first:ml-0 md:mt-0"
                     >
                        <span class="sr-only"> {label} </span>
                        <Icon name={icon} class="w-6 h-6" />
                     </a>
                  ))
               }
            </div>
         </div>
      </div>
   </div>
</nav>

<script>
   const btn = document.querySelector("#burger");
   const nav = document.querySelector("nav");
   const navbarItems = document.querySelector("#navbar-items");

   window.onscroll = function () {
      const fixNav = nav.offsetTop;

      if (window.pageYOffset > fixNav) {
         nav?.classList.remove("absolute");
         nav?.classList.add("fixed");
      } else {
         nav?.classList.remove("fixed");
         nav?.classList.add("absolute");
      }
   };

   btn.addEventListener("click", function () {
      btn.classList.toggle("active");
      navbarItems.classList.toggle("active");
   });
</script>

<style>
   .icon-navbar {
      background: linear-gradient(90, #000814, #001c3d, #003566);
   }
</style>
