---
import { SITE } from "../config";
import ThemeButton from "./ThemeButton.astro";

const menuItems = [
	{
		name: "Skills",
		link: "#skills",
	},
	{
		name: "Education",
		link: "#education",
	},
	{
		name: "Project",
		link: "#project",
	},
	{
		name: "Contact",
		link: "#contact",
	},
];
---

<nav class="flex flex-row items-center justify-between py-4 bg-blend-overlay">
	<div class="flex flex-row items-center gap-6">
		<a class="link text-xl font-medium" href="/">{SITE.title}</a>
		<ul class="hidden gap-6 text-base md:inline-flex">
			{
				menuItems.map((item) => (
					<li>
						<a class="link" href={item.link}>
							{item.name}
						</a>
					</li>
				))
			}
		</ul>
	</div>
	<div class="flex flex-row items-center space-x-2 divide-x divide-neutral-100 text-sm">
		<ThemeButton />
		<a class="link hidden pl-4 md:block" href=`mailto:${SITE.email}`>{SITE.email} </a>
	</div>
</nav>
<ul class="inline-flex gap-6 text-base md:hidden">
	{
		menuItems.map((item) => (
			<li>
				<a class="link" href={item.link}>
					{item.name}
				</a>
			</li>
		))
	}
</ul>
