---
import { Badge } from "./ui/badge";
interface Props {
	date: string;
	title: string;
	subtitle: string;
	description: string;
	className?: string;
}

const { title, subtitle, description, date, className } = Astro.props;
---

<div class={className}>
	<div class="w-full space-y-3 font-medium">
		<Badge>{date}</Badge>
		<h1 class="text-lg font-bold">{title}</h1>
		<h3 class="text-base text-sky-700 dark:text-sky-600">{subtitle}</h3>
		<p class="text-base">{description}</p>
	</div>
	<slot />
</div>
